In [3]:
import pandas as pd

# Create a list and convert to Series
marks_list = [88, 92, 75, 63, 85]
marks_series = pd.Series(marks_list)

# Print without showing dtype
print(marks_series.to_string())

0    88
1    92
2    75
3    63
4    85

In [5]:
import pandas as pd

# Generate date range
date_series = pd.date_range(start='2021-05-01', end='2021-05-12')

# Display the dates without dtype
print("Date Series from 1st May 2021 to 12th May 2021:")
for date in date_series:
    print(date.strftime('%Y-%m-%d'))

Date Series from 1st May 2021 to 12th May 2021:
2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12