In [3]:
import pandas as pd

# Create a list and convert to Series
marks_list = [88, 92, 75, 63, 85]
marks_series = pd.Series(marks_list)

# Print without showing dtype
print(marks_series.to_string())

0    88
1    92
2    75
3    63
4    85

In [5]:
import pandas as pd

# Generate date range
date_series = pd.date_range(start='2021-05-01', end='2021-05-12')

# Display the dates without dtype
print("Date Series from 1st May 2021 to 12th May 2021:")
for date in date_series:
    print(date.strftime('%Y-%m-%d'))

Date Series from 1st May 2021 to 12th May 2021:
2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12

In [1]:
import pandas as pd

# Sample dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Tokyo']
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35     Tokyo

In [2]:
import pandas as pd

# Sample 2D list
data = [
    [1, 'Alice', 85],
    [2, 'Bob', 90],
    [3, 'Charlie', 78]
]

# Convert to DataFrame
df = pd.DataFrame(data, columns=['ID', 'Name', 'Score'])

# Display the DataFrame
print(df)

   ID     Name  Score
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     78

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('medal.csv')  # Replace with your actual file path

# Display the entire DataFrame
print(df)

   United States  46
0  Great Britian  27
1          China  26
2         Russai  19
3        Germany  17

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Score': [85, 90, 78, 92, 88],
    'Age': [25, 30, 22, 25, 30]
})

# Sort by 'Name' (ascending) and then by 'Score' (descending)
sorted_df = df.sort_values(by=['Name', 'Score'], ascending=[True, False])

print(sorted_df)

In [9]:
import pandas as pd

# Create a DataFrame with a custom index
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 78]
}
custom_index = ['a', 'b', 'c']
df = pd.DataFrame(data, index=custom_index)

print("ðŸ”¹ DataFrame with Custom Index:")
print(df)

# Reset to default integer index
df_reset = df.reset_index(drop=True)

print("\nðŸ”¸ DataFrame with Default Index:")
print(df_reset)

ðŸ”¹ DataFrame with Custom Index:
      Name  Score
a    Alice     85
b      Bob     90
c  Charlie     78

ðŸ”¸ DataFrame with Default Index:
      Name  Score
0    Alice     85
1      Bob     90
2  Charlie     78

In [10]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Score': [85, 90, 78, 88]
})

# Select two rows by index (e.g., rows 1 and 2)
selected_rows = df.iloc[1:3]

print("ðŸŽ¯ Selected Rows:")
print(selected_rows)

ðŸŽ¯ Selected Rows:
      Name  Score
1      Bob     90
2  Charlie     78

In [11]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Occupation': ['Engineer', 'Doctor', 'Engineer', 'Doctor', 'Artist'],
    'Salary': [85000, 120000, 90000, 110000, 50000]
})

# Group and calculate average salary
avg_salary = df.groupby('Occupation', as_index=False)['Salary'].mean()

# Display without dtype
print("ðŸ’¼ Average Salary per Occupation:")
print(avg_salary.to_string(index=False))

ðŸ’¼ Average Salary per Occupation:
Occupation   Salary
    Artist  50000.0
    Doctor 115000.0
  Engineer  87500.0

In [12]:
import pandas as pd
import numpy as np

# Sample DataFrame with NaN values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Score': [85, np.nan, 78, np.nan],
    'Age': [25, 30, np.nan, 22]
})

print("ðŸ”¹ Original DataFrame with NaN values:")
print(df)

# Fill NaN values with 0
df_filled = df.fillna(0)

print("\nðŸ”¸ DataFrame after filling NaN with 0:")
print(df_filled)

ðŸ”¹ Original DataFrame with NaN values:
      Name  Score   Age
0    Alice   85.0  25.0
1      Bob    NaN  30.0
2  Charlie   78.0   NaN
3    David    NaN  22.0

ðŸ”¸ DataFrame after filling NaN with 0:
      Name  Score   Age
0    Alice   85.0  25.0
1      Bob    0.0  30.0
2  Charlie   78.0   0.0
3    David    0.0  22.0

In [13]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'cname': ['Alpha Corp', 'Beta Ltd', 'Gamma Inc', 'Delta LLC'],
    'profit': [120000, -5000, 0, 45000]
})

print("ðŸ”¹ Original DataFrame:")
print(df)

# Convert profit values to True/False
df['profit'] = df['profit'] > 0

print("\nðŸ”¸ DataFrame with Boolean Profit Indicator:")
print(df)

ðŸ”¹ Original DataFrame:
        cname  profit
0  Alpha Corp  120000
1    Beta Ltd   -5000
2   Gamma Inc       0
3   Delta LLC   45000

ðŸ”¸ DataFrame with Boolean Profit Indicator:
        cname  profit
0  Alpha Corp    True
1    Beta Ltd   False
2   Gamma Inc   False
3   Delta LLC    True

In [14]:
import pandas as pd

# First DataFrame: employee details
df1 = pd.DataFrame({
    'eid': [101, 102, 103, 104],
    'ename': ['Alice', 'Bob', 'Charlie', 'David'],
    'stipend': [1500, 2000, 1800, 1700]
})

# Second DataFrame: employee designations
df2 = pd.DataFrame({
    'eid': [101, 102, 103, 104],
    'designation': ['Intern', 'Analyst', 'Manager', 'Intern']
})

# Merge the two DataFrames on 'eid'
merged_df = pd.merge(df1, df2, on='eid')

# Rename 'designation' to 'position'
merged_df = merged_df.rename(columns={'designation': 'position'})

# Final output
print("ðŸŽ¯ Final Merged DataFrame:")
print(merged_df[['eid', 'ename', 'stipend', 'position']])

ðŸŽ¯ Final Merged DataFrame:
   eid    ename  stipend position
0  101    Alice     1500   Intern
1  102      Bob     2000  Analyst
2  103  Charlie     1800  Manager
3  104    David     1700   Intern